@import './base.css';
@import '../design-tokens/tokens.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  color: var(--color-text-body);
  font-family: var(--font-family-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-large);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: var(--shadow-level-2);
}

a,
.green {
  text-decoration: none;
  color: var(--green-dark);
  transition: 0.4s;
  padding: var(--spacing-small);
}

body {
  background: var(--color-background-primary-gradient);
  padding: 40px;
}

@media (max-width: 420px) {
  #app {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    backdrop-filter: none;
  }
}
