@import './base.css';
@import '../design-tokens/tokens.css';

#app {
  margin: 0 auto;
  padding: var(--spacing-small);
  font-weight: normal;
  background: var(--color-background-primary-gradient);
  color: var(--color-text-body);
  min-height: 100vh;
  font-family: var(--font-family-body);
}

a,
.green {
  text-decoration: none;
  color: var(--green-dark);
  transition: 0.4s;
  padding: var(--spacing-small);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
